<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Show content</title>
    </head>
    <body>
        <h1>Show content</h1>
        <table border ="1">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="content : ${contentReceived}">
                    <td th:text="${content.username}"></td>
                    <td th:text="${content.title}"></td>
                    <td th:text="${content.text}"></td>
                    <td th:text="${content.date}"></td>
                </tr>
            </tbody>
        </table>
        <br><a href="/">Add or search content</a>
    </body>
</html>